@import url(./normalize.css);
@import url(./layout.css);
@import url(./fonts.css);
@import url(./theme.css);

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 이벤트 */
.event {
  background-color: var(--primary);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 250%;
  height: 42px;
}

.event button {
  width: 42px;
  height: 42px;
  background-color: inherit;
  border: none;
  position: absolute;
  top: 0;
  right: 25%;
}

.event img {
  width: 100%;
  height: 100%;
  background-size: 84px;
}

/* 헤더 */
.header {
  width: 1050px;
  height: 125px;
  position: relative;
  padding-top: 63px;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
/* 로고 */
h1 {
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 12px;
}
h1 img {
  width: 82px;
  height: 42px;
}

h1 a {
  font-size: 21px;
  font-weight: 600;
  color: var(--primary);
}

h1 a:nth-child(4) {
  color: var(--gray-400);
}
h1 a img {
  position: absolute;
  margin-left: 6px;
  width: 7px;
  height: 7px;
}

h1 span {
  line-height: center;
  font-size: 14px;
  color: #d9d9d9;
}

/* 오른쪽 상단 sub-nav */
.member-wrap {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 12px;
}
.member {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 6px;
  margin: 0;
}

.member li {
  overflow: hidden;
  font-size: 12px;
  font-weight: 400;
}
.member span {
  font-size: 10px;
  color: #d9d9d9;
}

.member li p {
  float: right;
  font-size: 10px;
  margin: 0;
}

.sub-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 170px;
}

/* 검색 폼 */
.search-form fieldset {
  position: relative;
  width: 400px;
  height: 60px;
  border: 1px solid var(--primary);
  border-radius: 4px;
  padding: 0;
}

.form-group-input {
  border: none;
  border-radius: 4px;
  width: 365px;
  height: 60px;
  padding-left: 20px;
}

.form-group-input::placeholder {
  font-size: 21px;
  font-weight: 400;
  color: var(--gray-400);
}

.search-button {
  width: 36px;
  height: 36px;
  border: none;
  background: inherit;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(50%, -18px);
}

.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
}

.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 29px;
}

/* 카테고리 */
.kategorie {
  font-weight: 600;
}

.kategorie-item {
  width: 84px;
  overflow: hidden;
}

.kategorie-item li {
  text-align: left;
}

.kategorie-item .item {
  background: url("../assets/header/Hamburger.png") no-repeat 0;
  padding-left: 16px;
  width: 84px;
}

.kategorie-item .item:hover {
  font-weight: 900;
  color: var(--primary);
}

.sub-menu {
  width: 247px;
  overflow: hidden;
  margin-top: 24px;
  background-color: #fff;
  position: absolute;
  left: 1%;
  border: 1px solid var(--gray-200);
}

.sub-menu li {
  display: block;
  margin: 8px 12px;
}

.sub-menu a:hover {
  font-weight: 900;
  color: var(--primary);
}

.sub-menu-item1 {
  background: url(../assets/header/menuIcon/Icon.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}

.sub-menu-item2 {
  background: url(../assets/header/menuIcon/Icon-01.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item3 {
  background: url(../assets/header/menuIcon/Icon-02.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item4 {
  background: url(../assets/header/menuIcon/Icon-03.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item5 {
  background: url(../assets/header/menuIcon/Icon-04.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item6 {
  background: url(../assets/header/menuIcon/Icon-05.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item7 {
  background: url(../assets/header/menuIcon/Icon-06.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item8 {
  background: url(../assets/header/menuIcon/Icon-07.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item9 {
  background: url(../assets/header/menuIcon/Icon-08.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item10 {
  background: url(../assets/header/menuIcon/Icon-09.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item11 {
  background: url(../assets/header/menuIcon/Icon-10.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item12 {
  background: url(../assets/header/menuIcon/Icon-011.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item13 {
  background: url(../assets/header/menuIcon/Icon-012.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item14 {
  background: url(../assets/header/menuIcon/Icon-013.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item15 {
  background: url(../assets/header/menuIcon/Icon-014.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item16 {
  background: url(../assets/header/menuIcon/Icon-015.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item17 {
  background: url(../assets/header/menuIcon/Icon-016.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item18 {
  background: url(../assets/header/menuIcon/Icon-017.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item19 {
  background: url(../assets/header/menuIcon/Icon-018.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item20 {
  background: url(../assets/header/menuIcon/Icon-019.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item21 {
  background: url(../assets/header/menuIcon/Icon-020.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}
.sub-menu-item22 {
  background: url(../assets/header/menuIcon/Icon-021.png) no-repeat;
  background-size: 24px;
  width: 81px;
  height: 81px;
  padding-left: 32px;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: center;
  width: 600px;

  font-weight: 600;
  margin: 0;
}

.menu li {
  overflow: hidden;
  width: 150px;
}
.menu-item {
  display: inline-block;
  padding-bottom: 5px;
}

.menu-item:hover {
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
}

.shipping-button {
  border: 1px solid var(--gray-300);
  border-radius: 16px;
  width: 105px;
  height: 27px;
  color: var(--gray-500);
  background-color: inherit;
  font-size: 12px;
  font-weight: 400;
}

.shipping-button span {
  color: var(--primary);
  font-size: 12px;
  font-weight: 400;
}

/* 푸터 */
.main-footer {
  width: 1050px;
  height: 521px;
}

.main-footer-inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 28px 0 32px 0;
}

.happy-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 357px;
}

.happy-center h2 {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
}

.main-number {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.main-number strong {
  font-size: 28px;
  font-weight: 700;
}

.main-number p {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.inquiry {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.inquiry-inner {
  display: flex;
  flex-flow: row;
  justify-content: start;
  align-items: center;
  gap: 16px;
  width: 477px;
  height: 52px;
}

.inquiry button {
  background-color: inherit;
  width: 140px;
  height: 40px;
  border: 1px solid var(--gray-200);
  font-size: 14px;
  font-weight: 400;
}

.inquiry-inner p {
  font-size: 13.5px;
  font-weight: 400;
  line-height: 25.6px;
  margin: 0;
}

.inquiry-email p {
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  margin: 0;
}

.inquiry-email span {
  color: var(--primary);
}

.conditions {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 226px;
}

.conditions-item {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  height: 26px;
}

.contact-network p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
}

.contact-network span {
  color: var(--primary);
}

.sns {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}

.sns img {
  width: 30px;
  height: 30px;
}

.certification-mark {
  border-top: 1px solid var(--gray-200);
  padding: 24px 0 32px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.certification-mark button {
  border: none;
  background-color: inherit;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
}

.certification-mark img:nth-child(3) {
  width: 102px;
  height: 32px;
}

.certification-mark p {
  font-size: 10px;
  font-weight: 400;
  text-align: start;
  line-height: 16px;
}

.sub-footer {
  text-align: center;
  padding: 20px 0 32px 0;
}

.sub-footer p {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  color: var(--gray-400);
}
