@import url(./normalize.css);
@import url(./reset.css);
@import url(./layout.css);
@import url(./fonts.css);
@import url(./theme.css);

body{
  font-family: "Noto Sans";
}

/* main_banner */
.main_banner {
  width: 100%;
  margin: 0 auto;
  
}

.swiper-1 {
  height: 370px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* position: relative; */
}

.swiper-slide img {
  width: 100%;
  height: 370px;
  object-fit: cover;
}

.main_banner-button-prev{ 
  background: url(../assets/main/Icon/Arrow.svg) 50% 50% no-repeat;
  position: absolute;
  top: 50%;
  bottom: 0px;
  left: 10%;
  height: 52px;
  width: 52px;
  z-index: 1;
  border: none;
  transform: translateY(-50%);
}

.main_banner-button-next{
  background: url(../assets/main/Icon/Arrow.svg)  50% 50% no-repeat;
  position: absolute;
  top: 50%;
  bottom: 0px;
  right: 10%;
  height: 52px;
  width: 52px;
  z-index: 1;
  border: none;
  transform: translateY(-50%) rotate(180deg);
}

.swiper-button-next::after,
.swiper-button-prev::after{
  display: none;
}

.swiper-pagination {
  width: 47px;
  position: absolute;
  left: calc(1420 / 1920 * 99%);
  bottom: 52px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.2);
  color: var(--white);
  font-weight: 600;
  padding: 2px 5px;
}

.product_list1, .product_list2 {
  margin:0 auto;
  width: 1050px;
  position: relative;
  margin: 52px 0 40px 0;
  z-index: 1;
  margin: 0 auto;
}

.product_title{
  font-weight: 700;
  font-size: 28.43px;
  text-align: center;
  padding-bottom: 32px;
}


.product-box__img {
  position: relative;
}

.swiper-container {
  width:100%;
  height: 426px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.swiper-2 .swiper-wrapper{
  position: relative;
}

.swiper-2 .swiper-slide {
  display:flex; 
  flex-direction: column; 
  position: relative;
  width: 249px;
  margin-right: 18px
}

.swiper-2 .swiper-slide img {
  height: 320px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}


.cart-icon {
  background: url(../assets/main/Icon/Cart.png) no-repeat;
  width: 45px;
  height: 45px;
  position: absolute;
  border: none;
  right: 30px;
  bottom: 17px;
  z-index: 3;
}

.product-box__info {
  width: 249px;
  height: 93px;
  display: inline-block;
  margin: 16px;
  white-space: nowrap;
  letter-spacing: -0.5px;
}

.product-box__info-price a > span {
  margin-right: 7px;
}

.product-box__info > a {
  line-height: 8px;
}

.product-box__info-name {
  font-size: 16px;
}

.product-box__info-price {
  font-size: 21.33px;
  font-weight: 600;
}

.product-box__info-price .percent {
  color:var(--info-error);
}

.product-box__info-discount {
  color:var(--gray-400);
  text-decoration: line-through;
  font-weight: 400;
}

.product-button-prev1 { 
  background: url(../assets/main/Icon/Arrow.svg) 50% 50% no-repeat;
  position: absolute;
  top: 43%;
  bottom: 0px;
  left: -2.5%;
  height: 60px;
  width: 60px;
  border: none;
  z-index: 1;
}

.product-button-next2 {
  background: url(../assets/main/Icon/Arrow.svg) 50% 50% no-repeat;
  position: absolute;
  top:50%;
  bottom: 0px;
  right: -2.5%;
  height: 60px;
  width: 60px;
  border: none;
  z-index: 1;
  transform: translateY(-50%) rotate(180deg);
}

.swiper-button-next::after,
.swiper-button-prev::after{
  display: none;
}

/* middel_banner */
.middle_banner {
  margin:0 auto;
  width:1050px;
  padding:40px 0;
}

.middle_banner img {
  width: 100%;
}

/* end project */
.swiper-3 .swiper-wrapper{
  position: relative;
}

.swiper-3 .swiper-slide {
  display:flex; 
  flex-direction: column; 
  position: relative;
  width: 249px;
  margin-right: 18px
}

.swiper-3 .swiper-slide img {
  height: 320px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.product2-button-prev3 { 
  background: url(../assets/main/Icon/Arrow.svg) 50% 50% no-repeat;
  position: absolute;
  top: 43%;
  bottom: 0px;
  left: -2.5%;
  height: 60px;
  width: 60px;
  border: none;
  z-index: 99;
}

.product2-button-next4 {
  background: url(../assets/main/Icon/Arrow.svg) 50% 50% no-repeat;
  position: absolute;
  top:50%;
  bottom: 0px;
  right: -2.5%;
  height: 60px;
  width: 60px;
  border: none;
  z-index: 99;
  transform: translateY(-50%) rotate(180deg);
}
